body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.mobile {
  display: block;
}
.pc {
  display: none;
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*App*/
span {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.weight500 {
  font-weight: 500;
}

.weight700 {
  font-weight: 700;
}

.weight800 {
  font-weight: 800;
}

.App {
  position: relative;
  width: 100%;
  min-height: 100%;
}

/* Register a Login */
.Register,
.Login {
  width: 100%;
  min-height: 100%;
}

.imgShowContainer {
  position: relative;
  margin-bottom: 15px;
}

.imgShow {
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.removeImgShow {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.errorMessage {
  margin-bottom: 15px;
  color: red;
}

.registerContainer,
.loginContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rotateDiv1 {
  top: -50px;
  left: -50px;
  position: absolute;
  transform: rotate(10deg);
  width: 200%;
  height: 150px;
  opacity: 0.8;
}

.rotateDiv2 {
  top: -100px;
  left: -200px;
  position: absolute;
  transform: rotate(-30deg);
  width: 200%;
  height: 200px;
  opacity: 0.5;
}

.registerForm,
.loginForm {
  width: 100%;
  height: auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registerForm h2,
.loginForm h2 {
  font-weight: 900;
}

.inputRegister {
  border: none;
  padding: 15px;
  width: 65%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.inputRegister:focus {
  outline: none;
}
#fileUpload {
  display: none;
}

#inputfileRegister {
  text-align: center;
  cursor: pointer;
}

.buttonRegister {
  text-align: center;
  width: calc(65% + 30px);
  cursor: pointer;
}

.buttonRegisterMarginNone {
  margin-bottom: 0;
}

/* ButtonGoogleLogIn a Register button go to Log in */
.createGoogleButton,
.goToLogInButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.createGoogleButton {
  margin-top: 15px;
  background-color: rgb(2, 2, 202);
}

.googleImg,
.ArrowImg {
  font-size: 20px;
  padding-right: 5px;
}

.goToLogInButton {
  list-style-type: none;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 35px;
}

/* HOME*/

.homeContainer {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.homeContainerPostsMain {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  justify-content: center;
}

.homeContainerPosts {
  position: relative;
  margin-top: 50px;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* TopBarHome */

.topBar {
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  z-index: 1000;
}

.topBarProfile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBarProfile img {
  margin-left: 7px;
}
.profilePicture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.searchIcon {
  font-size: 25px;
}

/* SwiperOnlineFriends*/
.swiperOnline {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

/* AddNewPost*/
.addNewPost {
  position: relative;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.addNewPostContainer {
  width: calc(100% - 15px);
  padding: 15px;
  position: relative;
}

.topAddNewPost,
.middleAddNewPost,
.bottomAddNewPost {
  display: flex;
  align-items: center;
  margin: 12px 0px 12px 0px;
}

.topAddNewPost {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 0px;
}
.topAddNewPost * {
  margin-right: 15px;
}

.middleAddNewPost {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottomAddNewPost {
  margin-bottom: 0px;
  justify-content: center;
}

.lineNewPost {
  height: 2px;
  border: none;
}

.inputImgAddPost {
  border: none;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.inputImgAddPost:focus {
  outline: none;
}

.imgShowContainerAddPost {
  position: relative;
  margin-bottom: 10px;
}

.imgShowAddPost {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.inputAddNewPost {
  border: none;
}

.inputAddNewPost:focus {
  outline: none;
}

.inputUlrImgAddNewPost {
  padding: 12px 5px 12px 5px;
  border-radius: 8px;
}

.inputUlrImgAddNewPost::placeholder {
  color: white;
}

/* Post*/
.post {
  position: relative;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.postContainer {
  width: calc(100% - 30px);
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.postImg {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 15px;
}

.userContainerPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.userDivPost {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

.userDivPost * {
  margin-right: 10px;
}

/* Comment*/
.userCommentContainer {
  display: flex;
  align-items: center;
}
.imgUserComment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.addComment {
  display: flex;
  align-items: center;
}
.addCommentInput,
.addCommentButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 8px;
}
.addCommentInput:focus {
  outline: none;
}
.addCommentButton {
  color: white;
}

/* Profile */
.Profile {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.profileContainer {
  position: relative;
  margin-top: 20px;
  width: 90%;
}

.profileAllAbout {
  position: relative;
  width: 100%;
  height: 140px;
  margin: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileImages {
  position: relative;
  width: 42%;
  border-radius: 8px;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}
.profileInfo {
  position: relative;
  width: 55%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.profileInfoContainers {
  width: 100%;
  margin: 5px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.borderRadiusSwiperOnline {
  border-radius: 8px;
  margin-bottom: 18px;
}

/* TopProfile*/

.topProfile {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottomProfile {
  margin-top: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topProfileProfilePicture {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  top: 70px;
  border: 5px solid white;
}

/* ProfileRequests*/
.requests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttonConfirmFriendShip {
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.topProfileBackgroundPicture {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*UserProfile*/
.userProfile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.userProfile * {
  margin-right: 8px;
}

/*ButtonForActionsFriend*/
.buttonForActionsFriend {
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
@media only screen and (min-width: 450px) {
  /*TABLET SMALL*/
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }

  .App {
    position: absolute;
    min-height: 100%;
  }
  /* Register a Login */
  .Register,
  .Login {
    position: absolute;
    min-height: 100%;
    display: flex;
    justify-content: center;
  }
  .registerContainer,
  .loginContainer {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.25);
  }
  /* HOME */
  .homeContainerPosts {
    width: 68%;
    margin-top: 29px;
  }
  .onlineListOfUsers {
    position: sticky;
    top: 100px;
    width: 200px;
    height: 500px;
    margin: 29px 0px 0px 20px;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
}

@media only screen and (min-width: 750px) {
  /*TABLET BIG*/
  .homeContainerPosts {
    width: 400px;
  }
  /*Profile*/
  .profileContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .profileAllAboutContainer {
    width: 35%;
  }

  .postsActionsContainerProfile {
    width: 60%;
  }

  .profileAllAbout {
    margin: 0px;
  }

  /* ProfileRequests*/
  .topProfileBackgroundPicture {
    height: 300px;
  }

  /* TopProfile*/

  .topProfileProfilePicture {
    top: 120px;
    width: 200px;
    height: 200px;
  }
}

@media only screen and (min-width: 1600px) {
  /*PC*/

  /* Register a Login */
  .Register,
  .Login {
    margin: 0;
    align-items: center;
  }
  .registerContainer,
  .loginContainer {
    width: 405px;
  }
  /* HOME */
  .homeContainerPosts {
    width: 550px;
  }
  /*Profile*/
  .profileContainer {
    width: 50%;
  }
}
