body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

.pointer {
  cursor: pointer;
}

.mobile {
  display: block;
}
.pc {
  display: none;
}

.correctAnimation {
  width: 100%;
  overflow: hidden;
  animation-name: check;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes check {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/*hover effect*/
.scaled,
.opacity {
  transition: 0.2s;
}
.scaled:hover {
  transform: scale(0.8);
}

.opacity:hover {
  opacity: 0.7;
}

/*SearchBar*/
.none {
  display: none;
}

.resultSearchContainer {
  display: flex;
}

.searchBarInput {
  padding: 5px;
  border: none;
}

.searchBarInput:focus {
  outline: none;
}

.stopSearchPeople {
  padding: 7px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 25px;
  height: 25px;
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*App*/
span {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.weight500 {
  font-weight: 500;
}

.weight700 {
  font-weight: 700;
}

.weight800 {
  font-weight: 800;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Register a Login */
.Register,
.Login {
  width: 100%;
  min-height: 100%;
}

.imgShowContainer {
  position: relative;
  margin-bottom: 15px;
}

.imgShow {
  width: 65px;
  height: 65px;
  object-fit: cover;
}

.removeImgShow {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.errorMessage {
  margin-bottom: 15px;
  color: red;
}

.registerContainer,
.loginContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rotateDiv1 {
  top: -50px;
  left: -50px;
  position: absolute;
  transform: rotate(10deg);
  width: 200%;
  height: 150px;
  opacity: 0.8;
}

.rotateDiv2 {
  top: -100px;
  left: -200px;
  position: absolute;
  transform: rotate(-30deg);
  width: 200%;
  height: 200px;
  opacity: 0.5;
}

.registerForm,
.loginForm {
  width: 100%;
  height: auto;
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registerForm h2,
.loginForm h2 {
  font-weight: 900;
}

.inputRegister {
  border: none;
  padding: 15px;
  width: 65%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.inputRegister:focus {
  outline: none;
}
#fileUpload {
  display: none;
}

#inputfileRegister {
  text-align: center;
  cursor: pointer;
}

.buttonRegister {
  text-align: center;
  width: calc(65% + 30px);
  cursor: pointer;
}

.buttonRegisterMarginNone {
  margin-bottom: 0;
}

/* ButtonGoogleLogIn a Register button go to Log in */
.createGoogleButton,
.goToLogInButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.createGoogleButton {
  margin-top: 15px;
  background-color: rgb(2, 2, 202);
}

.googleImg,
.ArrowImg {
  font-size: 20px;
  padding-right: 5px;
}

.goToLogInButton {
  list-style-type: none;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 35px;
}

/* HOME*/

.homeContainer {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.homeContainerPostsMain {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  display: flex;
  justify-content: center;
}

.homeContainerPosts {
  position: relative;
  margin-top: 29px;
  width: 95%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* POST */
.acitonsForPosts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TopBarHome */

.topBar {
  position: sticky;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
  z-index: 100000000000000000001000000000000000000010000000000000000000;
}
.topBarProfile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.topBarProfile img {
  margin-left: 7px;
}

.topBarProfile:hover .containerLogOut {
  display: flex;
}

.containerLogOut {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 300px;
  min-height: 50px;
  background-color: white;
  display: none;
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
}
.buttonLogOut {
  position: relative;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  margin: 3px;
  border-radius: 5px;
  border: none;
}

.profilePicture {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

/* Post */

.wallPaperNotWorking {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 100000000;
  opacity: 0.7;
}

/* Share*/

.Share {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
}

.shareContainer,
.storyBookContainer {
  position: relative;
  width: 95%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.shareAllFriends {
  width: 80%;
  padding: 15px;
  overflow: auto;
}
.shareButton {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.shareMainBox {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputValShare {
  border: none;
  width: 70%;
  height: 100%;
  margin: 5px;
}
.inputValShare:focus {
  outline: none;
}

.searchIcon {
  font-size: 25px;
}

/* SwiperOnlineFriends*/
.swiperOnline {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 10px 0px 10px 0px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

/* AddNewPost*/
.addNewPost {
  position: relative;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.addNewPostContainer {
  width: calc(100% - 15px);
  padding: 15px;
  position: relative;
}

.topAddNewPost,
.middleAddNewPost,
.bottomAddNewPost {
  display: flex;
  align-items: center;
  margin: 12px 0px 12px 0px;
}

.topAddNewPost {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 0px;
}
.topAddNewPost * {
  margin-right: 15px;
}

.middleAddNewPost {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottomAddNewPost {
  margin-bottom: 0px;
  justify-content: center;
}

.lineNewPost {
  height: 2px;
  border: none;
}

.inputImgAddPost {
  border: none;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.inputImgAddPost:focus {
  outline: none;
}

.imgShowContainerAddPost {
  position: relative;
  margin-bottom: 10px;
}

.imgShowAddPost {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.inputAddNewPost {
  border: none;
}

.inputAddNewPost:focus {
  outline: none;
}

.inputUlrImgAddNewPost {
  padding: 12px 5px 12px 5px;
  border-radius: 8px;
}

.inputUlrImgAddNewPost::placeholder {
  color: white;
}

/* Post*/
.post {
  position: relative;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.postContainer {
  width: calc(100% - 30px);
  padding: 15px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}

.postImg {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 15px;
}

.userContainerPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.userDivPost {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

.userDivPost * {
  margin-right: 10px;
}

/* Comment*/
.userCommentContainer {
  display: flex;
  flex-direction: column;
  margin: 9px 0px 9px 0px;
  padding: 9px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.userCommentTop,
.userCommentBottom {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.imgUserComment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}
.addComment {
  display: flex;
  align-items: center;
}
.addCommentInput,
.addCommentButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 8px;
}
.addCommentInput:focus {
  outline: none;
}
.addCommentButton {
  color: white;
}

/* Profile */
.Profile,
.ProfileSettings {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.ProfileSettingsContainer {
  width: 95%;
}

.requestsContainer {
  margin-bottom: 15px;
}

.buttonSettingsContainer {
  display: flex;
}

.profileAllAboutContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
}

.profileContainer {
  position: relative;
  margin-top: 20px;
  width: 90%;
}

.profileAllAbout {
  position: relative;
  width: 100%;
  height: 140px;
  margin: 15px 0px 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileImages {
  position: relative;
  width: 42%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}
.profileImagesContainer {
  position: relative;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.profileImagesContainer * {
  margin: 5px 5px 0px 0px;
}
.profileInfo {
  position: relative;
  width: 55%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
}

.profileInfoContainers {
  width: 100%;
  padding: 5px 0px 5px 0px;
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.borderRadiusSwiperOnline {
  border-radius: 8px;
  margin-bottom: 18px;
}

/* TopProfile*/

.topProfile {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottomProfile {
  margin-top: 50px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topProfileProfilePicture {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  top: 70px;
  border: 5px solid white;
}

/* ProfileRequests*/
.requests {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttonConfirmFriendShip {
  border: none;
  padding: 12px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.topProfileBackgroundPicture {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*UserProfile*/
.userProfile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}
.userProfile span {
  margin-left: 8px;
}
.mainImg {
  position: relative;
}
.online {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 1px;
  border-radius: 50%;
  background-color: green;
}

/*SetUserInfo*/
.SetUserInfo {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0px 20px 0px;
}

/*ButtonForActionsFriend*/
.buttonForActionsFriend {
  padding: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/*ChangeProfileImg ChangeCoverImg*/
.settingsChangeProfilePicture,
.settingsChangeCoverPicture {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.CropperImage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputInfo {
  border: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin: 10px 0px 10px 0px;
}

.inputInfo:focus {
  outline: none;
}

.buttonSetInfo {
  border: none;
  padding: 12px 20px 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.buttonSetInfo:focus {
  outline: none;
}

/* ChangeColors */
.ChangeColors {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

/* ColorsPicker */
.ColorsPicker {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 5px 0px;
}

/* Notifications */
.Notifications {
  position: fixed;
  width: 200px;
  height: auto;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  z-index: 100000000000000000;
}

.allNotificationsContainer {
  position: absolute;
  height: 350px;
  min-width: 330px;
  overflow: auto;
  bottom: 50px;
  right: 10px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  z-index: 1000000000000000000;
  padding: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.25);
}

.notificationBell {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.notificationNubmer {
  position: absolute;
  right: -6px;
  top: -6px;
  min-width: 13px;
  min-height: 13px;
  padding: 2px;
  text-align: center;
  color: white;
  background-color: blue;
  border-radius: 50%;
}

.notificationMessagge {
  position: relative;
  border: none;
  padding: 8px 0px 8px 0px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.notificationMessagge span {
  margin-left: 10px;
}

.mainContainerForPost {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
}

.timeOfCreatedAtNotification {
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.containerForPost {
  position: relative;
  width: 90%;
  max-height: 80%;
  z-index: 10000000000;
  display: flex;
  align-items: center;
}

/*Messenger*/
.messengerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.messengerMain {
  position: absolute;
  width: 100%;
  height: calc(100% - 75px);
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.messengerFriends {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.searchChat {
  width: 95%;
  padding: 10px 2.5% 10px 2.5%;
  margin-top: 5px;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
}
.searchChat::placeholder {
  color: #C4C4C4;
}
.userChatMain {
  width: 95%;
  margin-top: 18px;
  border-radius: 13px;
  padding: 10px 2.5% 10px 2.5%;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}
.userChatContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgOfUserChat, .mainDivImgChat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}
.mainDivImgChat {
  position: relative;
}
.InfoAboutChat {
  position: relative;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.InfoAboutChat * {
  margin: 2px;
}
.numberOfNewMessages {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 7px 4px 7px;
  border-radius: 7px;
  color: white;
}
.mobileDiplayNone {
  display: none;
}

/*Chat*/
.Chat {
  position: relative;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.messagesContainer {
  position: absolute;
  width: 100%;
  height: calc(100% - 45px);
  top: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
.addMessageContainer {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.addMessageContainer input {
  width: 70%;
  padding: 12px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  border: none;
}
.addMessageContainer input:focus {
  outline: none;
}
.addMessageContainer button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  color: white;
}
.userChat{
  position: absolute;
  width: auto;
  height: auto;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px 5px 8px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.backChatArrow{
  position: absolute;
  width: auto;
  height: auto;
  left: 0;
  font-size: 25px;
  margin-top: 5px;
  z-index: 1000;
}

.myMessage, .yourMessage {
  margin: 15px 0px;
}
.myMessage span {
  border-radius: 15px 15px 0px 15px;
}
.yourMessage span {
  border-radius: 15px 15px 15px 0px;
}
.myMessage span, .yourMessage span{
  padding: 10px;
  color: white;
}

.myMessage {
  margin-left: auto;
  
}


/*StoryMain*/
.StoriesMain {
  position: relative;
  width: 100%;
  height: 210px;
  top: -12px;
  overflow: hidden;
  display: flex;
}
.stories {
  position: relative;
  height: auto;
  top: 12px;
  display: flex;
  flex-direction: center;
  cursor: grab;
}

/*Story*/
.Story {
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  overflow: hidden;
  margin-left: 12px;
}
.Story:hover {
  cursor: pointer;
}
.Story:hover .storyImg {
  transform: scale(1.2);
}
.storyWidthAndHeight {
  width: 120px;
  height: 180px;
}
.storyImg {
  position: relative;
  object-fit: cover;
  transition: 0.5s;
}
.profileImgMain {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.profileImgStory {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profileContainerStory {
  position: absolute;
  width: 112px;
  height: 35px;
  top: 4px;
  left: 4px;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.onlineUserStory {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 0;
  border: 2px solid white;
  bottom: -2px;
  border-radius: 50%;
  background-color: green;
}
.profileContainerAddStory {
  position: absolute;
  width: 112px;
  height: 120px;
  bottom: 4px;
  left: 4px;
  background-color: rgba(255, 255, 255, 0.884);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconAddStory {
  font-size: 50px;
  margin-bottom: 7px;
}

.AddStory,
.StoryBook {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
}

.mainContainerSettingsStory {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.settingsStory {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.top,
.mid,
.bot {
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.top {
  align-items: flex-start;
}
.mid {
  align-items: center;
}
.bot {
  align-items: flex-end;
}

/* STORIES BOOK */
.storyBookImgWidthAndHeight {
  width: 100%;
  height: 100%;
}
.mainContainerStoryBook {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  overflow: hidden;
}
.buttonStoryBook {
  position: absolute;
  font-size: 35px;
  color: white;
  cursor: pointer;
}
.buttonNext {
  left: 0;
}
.buttonPrev {
  right: 0;
}

@media only screen and (min-width: 450px) {
  /*TABLET SMALL*/
  span {
    font-size: 12px;
  }
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }

  .App {
    position: absolute;
    min-height: 100%;
  }
  /* Register a Login */
  .Register,
  .Login {
    position: absolute;
    min-height: 100%;
    display: flex;
    justify-content: center;
  }
  .registerContainer,
  .loginContainer {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 27px 5px rgba(0, 0, 0, 0.25);
  }
  /* HOME */
  .homeContainerPosts {
    width: 68%;
    margin-top: 29px;
  }
  .onlineListOfUsers {
    position: sticky;
    top: 90px;
    width: 200px;
    height: 500px;
    margin: 29px 0px 0px 20px;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
  }
  /*Profile*/
  .profileContainer {
    width: 80%;
  }
  /*ChangeProfileImg ChangeCoverImg*/
  .settingsChangeProfilePicture,
  .settingsChangeCoverPicture {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px 0px 20px 0px;
  }

  .ProfileSettingsContainer {
    width: 80%;
  }

  .CropperImage {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .SetUserInfo {
    align-items: flex-start;
  }
  /* ChangeColors */
  .ChangeColors {
    align-items: flex-start;
  }

  /*Notification post*/
  .containerForPost {
    position: relative;
    width: 600px;
    max-height: 80%;
    z-index: 10000000000;
  }
  /*Messenger*/
  .messengerMain {
    height: calc(100% - 120px);
    margin-top: 90px;
  }
}

@media only screen and (min-width: 750px) {
  /*TABLET BIG*/
  .homeContainerPosts {
    width: 470px;
  }
  /*Profile*/
  .profileContainer {
    width: 60%;
  }
  .profileAllAboutContainer {
    width: 35%;
  }

  .postsActionsContainerProfile {
    width: 60%;
  }

  .profileAllAbout {
    margin: 0px;
    align-items: center;
    flex-direction: column-reverse;
  }
  .profileAllAbout {
    height: auto;
  }
  .profileImages {
    width: 100%;
    height: 150px;
  }
  .profileInfo {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  /* ProfileRequests*/
  .topProfileBackgroundPicture {
    height: 300px;
  }

  /* TopProfile*/

  .topProfileProfilePicture {
    top: 120px;
    width: 200px;
    height: 200px;
  }
  /*Share*/
  .shareContainer {
    width: 40%;
  }
  .shareAllFriends {
    width: 60%;
  }
  .shareMainBox {
    width: 60%;
  }

  /*Profile*/
  .profileContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  /*ChangeProfileImg ChangeCoverImg*/
  .settingsChangeProfilePicture,
  .settingsChangeCoverPicture,
  .CropperImage {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .ProfileSettingsContainer {
    width: 50%;
  }
  /*StoryBook*/
  .storyBookContainer {
    width: 360px;
    height: 540px;
  }
  /*Messenger*/
  .messengerFriends {
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1600px) {
  /*PC*/

  /* Register a Login */
  .Register,
  .Login {
    margin: 0;
    align-items: center;
  }
  .registerContainer,
  .loginContainer {
    width: 405px;
  }
  /* HOME */
  .homeContainerPosts {
    width: 550px;
  }
  /*Profile*/
  .profileContainer {
    width: 50%;
  }
  /*StoryBook*/
  .storyBookContainer {
    width: 400px;
    height: 600px;
  }
}
